<form action="<?php $this->getFormUrl(); ?>" method="post">
    <div>
        <label for="name"><?php echo __("Name"); ?></label>
        <input name="name" id="name" title="<?php echo __('Name') ?>" value="" type="text" />
    </div>

    <button name="sort" value="DESC" type="submit"><?php echo __('Sort DESC') ?></button>
    <button name="sort" value="ASC" type="submit"><?php echo __('Sort ASC') ?></button>
    <button type="submit"><?php echo __('Search') ?></button>
</form>

<ul>
    <?php foreach ($this->getVendorsList() as $vendor) : ?>
        <li>
            <a href="<?php echo $this->getUrl('*/*/view/', array('id' => $vendor->getVendorId())); ?>"><?php echo $vendor->getName(); ?></a>
        </li>
    <?php endforeach; ?>
</ul>
