<h2><?php echo __('VENDOR') ?>: <?php echo $this->getVendor()->getName(); ?></h2>
<br/>
<?php echo __("Products"); ?>:
<br/>
<ul>
    <?php foreach ($this->getProductsForVendor() as $product) : ?>
        <li>
            <?php echo __('ID') . ': ' . $product->getId(); ?>
            <br/>
            <?php echo __('SKU') . ': ' . $product->getSku(); ?>
        </li>
    <?php endforeach; ?>
</ul>